DATABASE_URL="postgresql://user:pass@localhost:5432/csvtoxml"
NEXTAUTH_SECRET="generate-with-openssl-rand-hex-32"
NEXTAUTH_URL="http://localhost:3000"
WORKER_URL="http://localhost:8000"
DATA_DIR="/data"
